<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close1">&times;</span>
    <h1>Add Contacts</h1>
    <h2>Please note duplicate names will not be added</h2>
    <form class="" action="/add" method="post">
      <table id="modalTable">
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Address</th>
          <th>Comment</th>
        </tr>
      </table>
      <button type="button" name="add" onclick="addContact()">Add Contact</button>
      <input type="hidden" name="uuid" value="<%= uuid%>">
      <button type="submit">submit</button>
    </form>
  </div>
</div>

<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close2">&times;</span>
    <h1>Edit Contact</h1>
    <form action="/edit" method="post">
      <table>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Address</th>
          <th>Comment</th>
        </tr>
        <tr id="editContact"></tr>
      </table>
      <input type="hidden" name="uuid" value="<%= uuid%>">
      <button type="submit" name="">submit</button>
    </form>
  </div>
</div>

<div id="hidden">

  <h1>Your Contacts</h1>

  <form class="contactTable" action="/delete" method="post">
    <table>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Address</th>
        <th>Comment</th>
        <th>Delete</th>
      </tr>
      <% contacts.each do |i|%>
        <tr>
          <th><%= i[0]%></th>
          <th><%= i[1]%></th>
          <th><%= i[2]%></th>
          <th><%= i[3]%></th>
          <th class="checkbox">
            <input type="checkbox" id="<%= i[0]%>" name="toDelete[]" value="<%= i[0]%>">
            <label for="<%= i[0]%>"></label>
          </th>
          <th>
            <button type="button" name="button"
              onClick="edit(`<%= i.join(',')%>`)">Edit
            </button>
          </th>
        </tr>
      <% end%>
    </table>
    <button type="button" name="add" id="modalButton">
      Add Contacts
    </button>
    <button type="submit">Delete Selected</button>
    <input type="hidden" name="uuid" value="<%= uuid%>">
  </form>

</div>


<script src="/javascript/script.js"></script>
