<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h1>Add Contacts</h1>
    <button type="button" name="add" onclick="addContact()">Add Contact</button>
    <form class="" action="/add" method="post">
    <table id="modalTable">
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>address</th>
        <th>Comment</th>
      </tr>
    </table>
    <input type="hidden" name="uuid" value="<%= uuid%>">
    <input type="submit" name="" value="submit">
    </form>
  </div>
</div>

<h1>Your Contacts</h1>

<button type="button" name="add" id="modalButton">Add Contacts</button>

<form class="" action="index.html" method="post">
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>address</th>
      <th>Comment</th>
    </tr>
    <% contacts.each do |i|%>
      <tr>
        <th><%= i[0]%></th>
        <th><%= i[1]%></th>
        <th><%= i[2]%></th>
        <th><%= i[3]%></th>
        <th><input type="checkbox" name="toDelete" value="<%= i[0]%>"></th>
      </tr>
    <% end%>
  </table>
  <input type="submit" name="" value="Delete Selected">
  <input type="hidden" name="uuid" value="<%= uuid%>">
</form>

<script src="/javascript/script.js"></script>
