<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close1">&times;</span>
    <h1>Add Contacts</h1>
    <h2>Please note duplicate names will not be added</h2>
    <form class="" action="/add" method="post">
    <table id="modalTable">
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>address</th>
        <th>Comment</th>
      </tr>
    </table>
    <button type="button" name="add" onclick="addContact()">Add Contact</button>
    <input type="hidden" name="uuid" value="<%= uuid%>">
    <input type="submit" name="" value="submit">
    </form>
  </div>
</div>


<div id="editModal" class="modal">
  <div class="modal-content">
    <span class="close2">&times;</span>
    <h1>Edit Contact</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>address</th>
        <th>Comment</th>
        <th>Delete</th>
      </tr>
      </table>
    <form action="/edit" method="post">
      <div id="editContact">
      </div>
      <input type="hidden" name="uuid" value="<%= uuid%>">
      <input type="submit" name="" value="submit">
    </form>
  </div>
</div>


<h1>Your Contacts</h1>

<form class="" action="/delete" method="post">
  <table>
    <tr>
      <th>Name</th>
      <th>Number</th>
      <th>address</th>
      <th>Comment</th>
      <th>Delete</th>
    </tr>
    <% contacts.each do |i|%>
      <tr>
        <th><%= i[0]%></th>
        <th><%= i[1]%></th>
        <th><%= i[2]%></th>
        <th><%= i[3]%></th>
        <th><input type="checkbox" name="toDelete[]" value="<%= i[0]%>"></th>
        <th>
          <input type="button" name="button" value="Edit"
          onClick="edit('<%= i.join(",")%>')">
        </th>
      </tr>
    <% end%>
  </table>
  <button type="button" name="add" id="modalButton">Add Contacts</button>
  <input type="submit" name="" value="Delete Selected">
  <input type="hidden" name="uuid" value="<%= uuid%>">
</form>

<script src="/javascript/script.js"></script>
